$primary-color:#ffefe7;
$secondary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$font-stack1: 'IBM Plex Sans', sans-serif;

html{
    font-size:62.5%;
}
body{
    margin:0;
    padding:0;
    background-color:$primary-color;
    font-family:$font-stack1;
}

nav{
   
    width:auto;
    height:100px;
    display:flex;
    justify-content:space-between;
    color:$primary-text-color;
    padding:15px;

    /*Uso de nesting*/
    p{
        font-size:1.8rem;
        padding-left:30px;
    }
    .icons{
        display:flex;
        gap:15px;
        button{
            background:none;
            border-style: none;
        }
    }
}



footer{
    $backgroundColor:#FA9500;
    background-color:$backgroundColor;
    width:100%;
    height:250px;
}